@{
    ViewBag.Title = "The Honor Foundation";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div style="text-align:center">
				<table id="formula-table">
  					<tr >
    					<td style="font-size:17px"><b>Innovation + Research + Strategic Partnerships</b> <hr /></td>
					    <td rowspan="2" style="font-size:21px">= Our Design</td>
  					</tr>
 				 	<tr>
    					<td style="font-size:20px"><b>Globally Recognized Best Practices</b></td>
  					</tr>
				</table>
			</div>
        </div>
    </section>
}
<h3>Our mission:</h3>

<p>
    To assist elite military professionals with their career decisions; to enhance their professional and 
    personal performance; to create focus around their future vision; and connect with leading organizations 
    offering them superior talent and meaningful partnerships. 
</p>

<ol class="round">
    <li class="one">
        <h5>Lorem ipsum sit amet</h5>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
        natoque penatibus et magnis dis parturient montes, nascetur 
        ridiculus mus. Donec quam felis, ultricies nec. 
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
       <h5>Lorem ipsum sit amet</h5>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
        natoque penatibus et magnis dis parturient montes, nascetur 
        ridiculus mus. Donec quam felis, ultricies nec. 
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="three">
        <h5>Lorem ipsum sit amet</h5>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
        natoque penatibus et magnis dis parturient montes, nascetur 
        ridiculus mus. Donec quam felis, ultricies nec.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a> 
    </li>
</ol>
